{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
  <div class="col-12 mb-5">
    <a class="btn btn-primary" href= "{% url 'catalog:facade_create' category_pk %}">Добавить фасад</a>
  </div>
  {% for object in object_list %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{{ object.preview|mediapath }}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{ object.name|title }}</p>
        {% with active_version=object.get_active_version %}
            {% if active_version %}
              <p>Активная версия: {{ active_version.version_number }}</p>
              <p>{{ active_version.version_name }}</p>
            {% else %}
              <p>Нет активных версий</p>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between align-items-center"></div>
      </div>
      <div class="card-footer">
        <a class="btn btn-link" href="{% url 'catalog:facade_update' object.pk %}">Изменить</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{#<!--           src="{{ object.preview.url }}"-->#}
{#<!--           src={{ object.preview|mediapath }}-->#}
{#<!--           src={% mediapath object.preview %}-->#}
